#calling_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

#calling_wrapper p {
    display: flex;
    flex-direction: column;
    align-items: center;
}