/* h3{
    margin-bottom: 5px;
    align-items: start;
    position: static ;
    text-align:center;
    
    
}
.Search_div div {
    text-align: left;
    margin-left: 25%;
    font-size: 16px;
    margin-top: 30px;
    
  }
  .Search_div div h5 {
      height: 5px;
      margin-left: -15px;
  }
  .Search_div div input {
    padding: 3px;
    
        width: 277px;
        height: 35px;
        padding: 0 10px;
        
        box-sizing: border-box;
        margin-bottom: 11px;
        border-radius: 3px;
        background-color: #ffffff;
        border-style: none;
        
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
    
}
  input[name=search_id_birthday] { width : 20%; text-align: center;}
  input[name=search_id_name], input[name=search_id_email] { width : 50% }
  
  
  
  input[name=search_id_write_email] { 
      margin-left: 5px; 
      padding: 5px;
      width: 60%;
  }
  input[name=search_id_submit] {
      border: solid 1px #ababab;
      border-radius: 4px;
      margin-left: 50px;
      margin-top: 60px;
      cursor: pointer;
      padding: 5px;
  } */

  .Search_div {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    display: flex;
    width:100%;
	    height:100%;
	    margin: 0;
  		/* padding-top: 200px; */
  		padding-bottom: 40px;
  		font-family: "Nanum Gothic", arial, helvetica, sans-serif;
  		background-repeat: no-repeat;
}

.Search_div div input {
        position: relative;
  	    height: auto;
  		-webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
        box-sizing: border-box;
  		padding: 10px;
  		font-size: 16px; 
          box-sizing: border-box;
          margin-bottom: 11px;
          border-radius: 3px;
          background-color: #ffffff;
          border-style: none;

          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;}


          input[name=search_id_submit] {
            border: solid 1px #ababab;
            border-radius: 4px;

            margin-top: 60px;
            cursor: pointer;
            padding: 5px;
          }
