.logout{
    width: 90%;
    height: 45px;
    padding: 5px;
    border-style: none;
    border-radius: 100px;
    font-size: 1em;
    font-weight: bold;
    background-color: #BCFFD8 ;
    cursor: pointer;
    border-width: 1px;
    color: #B3B3B3;
    margin-top: 50px;
}

.map{
    border: none;
}

.logoutWrapper{
    text-align: center;
}