@keyframes rotate {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {
    font-family: 'Noto Sans KR', sans-serif;
}

#main_contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title{
    text-align: center;
    justify-items: center;
    padding-bottom: 50px;
    margin: 0;
}
.title p{
    font-size: 1em;
}
.sub_title{
    font-size: 20px;
    color: #000;
} 
.intro{
    text-align: center;
    padding-bottom: 40px;
}
.type{
    font-size: 18px;
    line-height: 3em;
    height: 3em;
    overflow: hidden;
}
.type_list{
    padding-left: 0;
    list-style: none;
    animation: rotate 7s infinite;
}
.type_list li{
    font-size: 0.75em;
}
.button1{
    text-align: center;
    padding-bottom: 10px;
}
.button1 button{
    width: 100%;
    height: 45px;
    padding: 5px;
    border-style: none;
    border-radius: 100px;
    font-size: 1em;
    font-weight: bold;
    background-color: #38E07D;
    cursor: pointer;
    color: #ffffff;
}
.button2{
    text-align: center;
}
.button2 button{
    width: 100%;
    height: 45px;
    padding: 5px;
    border-style: none;
    border-radius: 100px;
    font-size: 1em;
    font-weight: bold;
    background-color: #BCFFD8 ;
    cursor: pointer;
    border-width: 1px;
    color: #B3B3B3;
}
