.quizresult__background {
  background-color: white; /* 배경색을 흰색으로 설정 */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizresult__box {
  background-color: white; /* modal__box 배경색을 흰색으로 설정 */
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.buttons_2 {
  width: 250px;
  height: 45px;
  font-size: 16px;
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #38E07D; /* 버튼 배경색 설정 */
  color: white; /* 버튼 텍스트 색상 설정 */
  border: none;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
}