.quiz_contents{
    display: flex;
    flex-direction: column;
}
.quiz{
    background-color: #ffffff;
    height: 100px;
    border-radius: 3px;
    text-align: center;
}
.quiz_button1, .quiz_button2{
    text-align: center;
}
.quiz_button1 button{
    width:138px;
    height: 133px;
    margin-right: 1px;
    font-size: 2.75em;
    color: #AE3737;
    border-radius: 10px;
    border-style: none;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.quiz_button2 button{
    width: 138px;
    height: 133px;
    margin-left: 1px;
    font-size: 2.75em;
    color: #3775AE;
    border-radius: 10px;
    border-style: none;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.button_wrapper{
    display: flex;
    flex-direction: row;
    padding: auto;
    justify-content: center;
}
.contents_wrapper{
    align-items: center;
    justify-content: center;
    width: auto;
}
.contents_wrapper2{
    margin-top: 10px;
}
.down_wrapper{
    justify-content: center;
}
.prev_button{
    background-color: #ffffff;
    border-style: none;
    margin-right: 38px;
}
.next_button{
    background-color: #ffffff;
    border-style: none;
    margin-left: 38px;
}
.quiz_num{
    text-align: center;
}

.wrapper{
    padding-left: 20px;
    padding-right: 20px;
}

.modal_background{
    width: 100vh;
    height: 100vh;
}